div#requestarea a:link {
  font-size: 0.9rem;
  color: #4A443D;
  font-weight: 150;
}

#heading {
  position: absolute;
  text-align: center;
  z-index: 99;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 700px;
  min-width: 700px
        left: 500px;
  top: 30px;
  opacity: 0.90;
  padding: 10px;
  right: 50%;
}

#mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#layerToggle {
  bottom: 30px;
  left: 20px;
  position: absolute;
  z-index: 99;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  opacity: 0.90;
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
 /* Set the fixed height of the footer here */
  line-height: 4rem;
 /* Vertically center the text there */;
}

footer a, a:hover {
  color: inherit;
  text-decoration: none;
}

.fme {
  width: 2rem;
  height: 2rem;
}

p {
  font-family: inherit;
  font-weight: 150;
  line-height: 1.4rem;
  color: inherit;
  font-size: 1.1rem;
}

a {
  font-size: 1.1rem;
  font-weight: 150;
  color: hsla(31, 96%, 51%, 0.7);
}

h1 {
  font-family: inherit;
  font-weight: 100;
  line-height: 1.1;
  color: inherit;
  font-size: 2rem;
  white-space: nowrap;
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.btn {
  font-style: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 320;
  letter-spacing: .5px;
  background-color: #7f7e7b;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4A443D;
}
